body {
	background:#fff url("../../images/bg_homepageheader.gif") repeat-x top left;
	margin:0;
	padding:0;
	border: 0;
	color:#000;
	font:x-small/1.5em Tahoma, Trebuchet MS, Arial, sans-serif;
	line-height: 1.3em;
	voice-family: "\"}\""; voice-family:inherit;
	font-size:small;
	} html>body {font-size:small;
	}
	
td {
	font-size: 95%;
}

.simple-table {
	BORDER-RIGHT: black 1pt ridge; BORDER-TOP: black 1pt ridge; MARGIN: 10pt; BORDER-LEFT: black 1pt ridge; BORDER-BOTTOM: black 1pt ridge; BORDER-COLLAPSE: collapse
}

/* default link styles */
a:link {
	color: #003992;
	text-decoration: none;
	}
	
a:visited {
	color: #36f;
	text-decoration: none;
	}

a:hover {
	color: #36f;
	text-decoration: underline;
	}

a:active {
	color: #39f;
	text-decoration: underline;
	}
	
a img {
	border-width:0;
	}
	
#nav_logonav a {
	font-weight:bold;
	font-size: 90%;
	}
	

	
a img {
	border-width:0;
	}
	
.clear {
	clear:both;
	display:block;
	margin:0;
	padding:0;
	height:0px;
	line-height:0px;
	font-size:0px;
	}
	
.strong {
	font-weight: bold;
	}

.hidden {display: none;}

.sup {vertical-align: super; font-size: 40%;}

/*  HEADER
-------------------------------------------------------*/
/*  top half of header  */

	
#usa-homepagelogo {
	background:transparent;
	margin: 25px auto;
	width: 130px;
	height: 91px;
	text-align: center;
	border: solid 0px yellow;
	}
	
#usa-homepagelogo img {
	width: 130px;
	height: 91px;
	}
	
	

	
	
/*  everything below the top navigation stuff
---------------------------------------------------------*/

img  {
	border: solid 0px #000;
	display: block;
	}
  
#main  {
	padding: 0;
	margin: 20px auto;
	width: 700px;
	text-align: left;
	border: solid 0px green;
	}
	
.icons {
	float: left;
	width: 116px;
	text-align: left;
	border: solid 0px tan;
	}
	
.logos {
	float: left;
	width: 116px;
	text-align: center;
	border: solid 0px tan;
	}
	
#content	{
	width: 664px;
	margin: 20px auto;
	padding: 0;
	border: solid 0px orange;
	}

#news_headlines {
	margin-top: 20px;
	padding: 0 7px 7px 7px;
	margin-bottom: 20px;
	border: solid 1px #1c5597;
	float: left;
	width: 325px;
	}

	
#news_headlines ul {
	list-style: none; 
	margin: 1px; 
	padding: 5px 5px 7px 5px;
	}

#news_headlines li {
	padding: 0 0 10px 0;
	}
	
	
	
#events {
	margin-top: 20px;
	padding: 0 7px 5px 7px;
	margin-bottom: 20px;
	border: solid 1px #1c5597;
	float: right;
	width: 280px;
	}


	
#events ul {
	list-style: none; 
	margin: 1px; 
	padding: 5px 5px 0px 5px;
	}

#events li {
	padding: 0 0 10px 0;
	}
	


#gsa {
	position: relative bottom right;
	margin-top: 7px;
	padding: 0 7px 7px 7px;
	margin-bottom: 0;
	border: solid 0px #1c5597;
	float: right;
	width: 280px;
	height: 100%;
	}

	
#gsa ul {
	list-style: none; 
	margin: 1px; 
	padding: 5px 5px 7px 15px;
	}

#gsa li {
	padding: 0 0 10px 0;
	}
	
#energystar {
	position: relative bottom right;
	margin-top: 7px;
	padding: 0 7px 7px 7px;
	margin-bottom: 10px;
	border: solid 0px #1c5597;
	float: right;
	width: 280px;
	height: 100%;
	}	
	
	
.date {
	font-weight: bold;
	color: #666;
	font-size: 85%;
	border-bottom: dotted 1px #666;
	}
	
 #footer	{
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	border-top: 1px solid #f9f9f9;
	background-color: #fdfdfd;
	border-top: solid 1px #bdbec0;
	}
	
#footer p {
	margin: 5px 10px 2em 10px;
	font-size: 80%;
	background-color: transparent;
	color: #999;
	}

#breadcrumbs {
	color: #000;
	padding: 3px;
	margin-bottom: 25px;
	}

#breadcrumbs ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	border: none;
	}

#breadcrumbs ul li {
	margin-left: 0;
	padding-left: 2px;
	border: none;
	list-style: none;
	display: inline;
	}
	
.indextop {
	FONT-WEIGHT: bold;
	FONT-SIZE: larger;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}

.tblhead {
	color: White;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}