/******************************************************************************
 *	Copyright (c) 2004 Actuate Corporation and others.
 *	All rights reserved. This program and the accompanying materials 
 *	are made available under the terms of the Eclipse Public License v1.0
 *	which accompanies this distribution, and is available at
 *	http://www.eclipse.org/legal/epl-v10.html
 *	
 *	Contributors:
 *		Actuate Corporation - Initial implementation.
 *****************************************************************************/

.BirtViewer_Body
{
	margin:0px;
}

/******************************************************************************
 * Birt error page.
 *****************************************************************************/

.BirtViewer_Highlight_Label
{
	font:Verdana;
	color:red;
}

/******************************************************************************
 * Birt parameter dialog.
 *****************************************************************************/
.birtviewer_parameter_dialog
{
	height:100%;
	overflow:auto;
	height:350px;
}

.BirtViewer_parameter_dialog_Input
{
	font:Verdana;
	font-size:8pt;
	border-style:inset;
	border-width:2px;
	width:250px;
}

.birtviewer_parameter_dialog_Select
{
	font:Verdana;
	font-size:8pt;
	width:250px;
}

.birtviewer_parameter_dialog_Label
{
	font:Verdana;
	font-size:8pt;
}

/******************************************************************************
 * Birt export data dialog.
 *****************************************************************************/
 
.birtviewer_exportdata_dialog_single_select
{
	width:250px;
	font-size:8pt;
}
.birtviewer_exportdata_dialog_select
{
	width:180px;
	font-size:8pt;
}
.birtviewer_exportdata_dialog_button
{
	width:16px;
	height:16px;
	cursor:pointer;
}

/******************************************************************************
 * Dialog related.
 *****************************************************************************/
.birtviewer_dialog
{
	font-family:Verdana;
	background-color:#dbe4ee;
	border-width:2px;
	border-style:outset;
	font-size:8pt;
	cursor:deafult;
}
.birtviewer_dialog_caption
{
	width:100%;
	font-size:12px;
	color:white;
	background-color:#4682b4;
}
.birtviewer_dialog_body
{
	background-color:#dbe4ee;
	border-width:1px;
	border-style:inset;
	width:98%;
	height:100%;
	font-size:8pt;
}
.birtviewer_dialog_button
{
	width:100px;
	font-family:verdana;
	font-size:8pt;
	background-color:white;
	border-style:outset;
	border-width:1px;
	cursor:hand;
	cursor:pointer;
}
.birtviewer_dialog_tab_selected
{
	border-color:#ffffff;
	border-width:1px;
	border-style:solid;
	font-size:7pt;
	font-weight:bold;
}
.birtviewer_dialog_tab_normal
{
	border-color:white;
	border-width:1px;
	border-style:solid;
	cursor:hand;
	cursor:pointer;
	font-size:7pt;
	font-weight:bold;
}

/******************************************************************************
 * Toolbar
 ******************************************************************************/
.birtviewer_toolbar
{
	background-color:#FFF9E5;
	font-family:Verdana;
	font-size:8pt;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:gray;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:gray;
}

/******************************************************************************
 * Navigation bar
 ******************************************************************************/
.birtviewer_navbar
{
	background-color:#FFF9E5;
	font-family:Verdana;
	font-size:8pt;
	border-left-color:black;
	border-left-style:solid;
	border-left-width:1px;
}

.birtviewer_navbar_input
{
	font:icon;
	border-style:inset;
	border-width:2px;
}

/******************************************************************************
 * Progress bar
 ******************************************************************************/
.birtviewer_progressbar
{
	font-family:Verdana;
	font-size:8pt;
	background:#dbe4ee;
	border-width:1px;
	border-style:outset;
	cursor:default;
}

/******************************************************************************
 * Toc
 ******************************************************************************/
.birtviewer_toc
{
	width:100%;
	height:100%;
	background-color:#FFFFFF;
	font-family:Verdana;
	font-size:8pt;
	border-width:1px;
	border-style:none;
	border-color:gray;
}

/******************************************************************************
 * Context menu
 ******************************************************************************/
.birtviewer_contextmenu
{
	width:150px;
	background-color:#d0d0d0;
	border-style:outset;
	border-color:#cccccc;
	cursor:default;
	border-width:2px;
}

/******************************************************************************
 * Birt document.
 *****************************************************************************/
.birtviewer_document_fragment
{
	overflow:auto;
	position:absolute;
	border-style:inset;
	border-width:1px;
}

/******************************************************************************
 * General controls
 ******************************************************************************/
.birtviewer_clickable
{
	border-style:none;
	cursor:hand;
	cursor:pointer;
}
/******************************************************************************
 * USAT
 ******************************************************************************/
div.colorbox {border: 1px solid black; width: 30px; height: 16px; float: left; margin: 2px;}
div.textbox {color: #000000; width: 52px; height: 18px; float: left; margin: 2px;}