.topbar-blue {
    background: #173b46;
}

.favorite-locations-table th, .find-locations-table th, .favorite-locations-table th a, .find-locations-table th a, .account-table th, .account-table th a {
	background: #173b46;
	color: #ffffff;
}

.more-text {
	color: #559bc8;
}

th .btn-link:hover,
th .btn-link:focus {
	color: #cde629;
}

.current-balance, .current-reward {
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.2em;
  padding: 0 1.6em;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
  background: #173b46;
}

.btn-signup-more,
.btn-submit,
.btn-find-locations,
.btn-savechanges,
.btn-signout,
.btn-return {
  color: #111111;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
  background-color: #cde629;
  background-image: -moz-linear-gradient(top, #cbe329, #b6cc25);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cbe329), to(#b6cc25));
  background-image: -webkit-linear-gradient(top, #cbe329, #b6cc25);
  background-image: -o-linear-gradient(top, #cbe329, #b6cc25);
  background-image: linear-gradient(to bottom, #cbe329, #b6cc25);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbe329', endColorstr='#b6cc25', GradientType=0);
  border-color: #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-signup-more:hover,
.btn-signup-more:focus,
.btn-signup-more.disabled,
.btn-signup-more[disabled],
.btn-submit:hover,
.btn-submit:focus,
.btn-submit.disabled,
.btn-submit[disabled],
.btn-find-locations:hover,
.btn-find-locations:focus,
.btn-find-locations.disabled,
.btn-find-locations[disabled],
.btn-savechanges:hover,
.btn-savechanges:focus,
.btn-savechanges.disabled,
.btn-savechanges[disabled],
.btn-signout:hover,
.btn-signout:focus,
.btn-signout.disabled,
.btn-signout[disabled],
.btn-return:hover,
.btn-return:focus,
.btn-return.disabled,
.btn-return[disabled],
.btn-signup-more:active,
.btn-signup-more.active,
.btn-submit:active,
.btn-submit.active,
.btn-find-locations:active,
.btn-find-locations.active,
.btn-savechanges:active,
.btn-savechanges.active,
.btn-signout:active,
.btn-signout.active,
.btn-return:active,
.btn-return.active {
  background-color: #b6cc25;
  *background-color: #b6cc25;
}