<!-- END CONTENT -->
<!-- BEGIN FOOTER -->

    </td>
   </tr>
   <tr>
    <th bgcolor="#FFFFFF" align="center" colspan="3">
     <font color="#000000">
     USA Technologies, Inc. - (C) Copyright 2003 - 2008 - Confidential
     </font>
    </th>
   </tr>
  </table>
  </center>
 </body>
</html>

<!-- END FOOTER -->
