.btn-signup-more {
  color: rgba(255, 255, 255, 0.2);
}
.btn-signup-more {
  color: #111111;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
  background-color: #ffd308;
  background-image: -moz-linear-gradient(top, #ffd308, #ffcb08);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd308), to(#ffcb08));
  background-image: -webkit-linear-gradient(top, #ffd308, #ffcb08);
  background-image: -o-linear-gradient(top, #ffd308, #ffcb08);
  background-image: linear-gradient(to bottom, #ffd308, #ffcb08);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd308', endColorstr='#ffcb08', GradientType=0);
  border-color: #ffcb08;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ffd308;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}


.btn-signup-more:hover,
.btn-signup-more:focus {
  color: #111111;
  text-decoration: none;
  background-position: 0 -50px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}


.btn-signup-more:hover,
.btn-signup-more:focus,
.btn-signup-more:active,
.btn-signup-more.active,
.btn-signup-more.disabled,
.btn-signup-more[disabled] {
  color: #111111;
  background-color: #ffcb08;
  *background-color: #ffcb08;
}
.btn-signup-more:active,
.btn-signup-more.active {
  background-color: #ffcb08 \9;
}
.more-text {
  font-weight: 800;
  font-style: italic;
  font-family: 'Georgia', sans-serif;
  color: #2992d0;
  font-size: 105%
}