#report-request-group legend {
	color: #C61016;
}
#report-request-group {
	background-color: white;
	color: #C61016;
}
#report-request-group a {
    color: blue;
}
#menu, #msg {
	background-color: #FFFAEC;
}
.menuTable th, .myStats th.header, .sectionTitle, .userReportContainer .itemMasterTitle, .userReportContainer .itemLabel { 
	background: #F0E7D4;
    font-weight: bolder; 
    color: black;
}
.menuTable a { 
	text-decoration: none; 
	color: #212121;
}
.myStats th {
	border: 1px solid #F0E7D4;
}
.headerRow {
	background-color:  #C61016;
}
.headerRow a:hover, .headerRow a.hover, .headerRow th.sortASC a.hover, .headerRow th.sortDESC a.hover {
    color:  #F0E7D4;
}
tr.oddRow, tr.oddRowLink, tr.oddRowHover, .selectSection, .userReportContainer #itemDetail, .userReportContainer #itemMaster {
    background-color: #FFFAEC;
}
.copyright, .folio-line {
	border-color: #FFFAEC;
}
#banner-title {
	background-color: #C61016;
	margin: auto;
    padding-top: 3px;
    text-align: center;
    width: 300px;
    border-radius: 1em;
    border: 3px double white;
    padding-top: 0px;
}
#banner-logo {
    background-image: url(../images/hotchoice_logo.gif);
}
#banner {
    background-image: url(../images/hotchoice_banner_ext.gif);
}
#footer {
	background: url(../images/hotchoice_banner_ext.gif) bottom;
}
.userDefinedReportList {
    list-style-image: url(../images/hotchoice_triyellow.gif);
}

.cannedReportList {
    list-style-image: url(../images/hotchoice_trigreen.gif);
}