/**************** menu coding *****************/
#menu {
background: #eee;
position:absolute;
list-style-type: none;
margin: 0;
padding: 0;
min-width:50px;
max-width:300px;
width:180px;
z-index:5;
font-size: 11px;
}

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul,
div#menu ul ul ul li:hover ul ul,
div#menu ul ul ul ul li:hover ul ul
{
display: none;
width:225px;
}

#menu ul {
list-style: none;
margin: 0;
padding: 0;
}

#menu li{
border-bottom: 1px solid #ccc;
}

#menu li a{
background: white url(/images/bgLmenu.jpg) repeat-x bottom left;
color: white;
display:block;
padding: 0.5em 0 0.5em 0.5em; 
width: auto;
text-decoration: none;
}

#menu li a:hover{
background:#116699;
background-color:#116699;
color:#EEEEAA;
}

#menu .arrowdiv{
position: absolute;
right: 2px;
background: transparent url(/images/arrow.gif) no-repeat center right;
width:12px;
}

#menu .arrowdiv_child{
position: absolute;
right: 2px;
background: transparent url(/images/arrow-right.gif) no-repeat center right;
width:12px;
}

#menu li {
background: transparent url(/images/bgLmenu.jpg) repeat-x bottom left;
position: relative;
font-weight:bold;
}

#menu ul ul {
position: absolute;
top: 0;
left: 100%;
}

.section_header{
background:transparent url(/images/bgLmenu.jpg) repeat-x bottom left;
position:absolute;
border:none;
font-style:normal ! important;
font-family:Verdana, Tahoma, Arial;
font-size:11px;
color:white;
height:18px;
line-height:18px;
width:auto;
padding:0.1em 0.1em 0.1em 0.3em; 
}

.section_text{
background-color:#e0eaef ! important;
background:#e0eaef ! important;
position:absolute;
border-top:none;
border-bottom:none;
border-right:1px solid #ccc;
border-left:1px solid #ccc;
font-style:normal;
font-family:Verdana, Tahoma, Arial;
font-size:11px;
width:auto;
padding:0.1em;
}

.menu_text{
font-style:normal;
font-family:Verdana, Tahoma, Arial;
font-size:11px;
}

.section_text a{
background:#e0eaef ! important;
background-color:#e0eaef ! important;
width:auto ! important;
color:black ! important;
border-left:0px ! important;
padding-top: 0em ! important;
padding-left: 0.1em ! important;
}

.section_text a:hover{
background:#B3CFCF ! important;
background-color:#B3CFCF ! important;
color:#116699 ! important;
width:auto ! important;
border-left:0px ! important;
padding-top: 0em ! important;
padding-left: 0.1em ! important;
}

.first{
border-top: 1px solid #ccc;
}

.scrollable{
height:175px;
overflow:auto;
}

#menu_devices_by_customer{
position:absolute ! important;
top:-200px ! important;
}

#menu_devices_by_customer li{
width:60px;
font-size:10px;
}

#menu_devices_by_customer li ul{
width:421px ! important;
height:175px;
overflow:auto;
}

#menu_devices_by_customer li ul li{
width:400px;
font-size:11px;
}

#menu_devices_by_location{
position:absolute ! important;
top:-220px ! important;
}

#menu_devices_by_location li{
width:60px;
font-size:10px;
}

#menu_devices_by_location li ul{
width:421px ! important;
height:175px;
overflow:auto;
}

#menu_devices_by_location li ul li{
width:400px;
font-size:11px;
}

#menu_esuds_schools{
position:absolute ! important;
top:-100px ! important;
}

#menu_esuds_schools li{
width:60px;
font-size:10px;
}

#menu_esuds_schools li ul{
width:321px ! important;
height:175px;
overflow:auto;
}

#menu_esuds_schools li ul li{
width:300px;
font-size:11px;
}

#menu_file_types{
width:350px ! important;
}
