/*-----------Styles for General Content ----------------*/
.hide {
    display: none;
}

label textarea {
	vertical-align: middle;
}

.hiddenRow {
 display:none;
 visibility:hidden;
}

.visibleRow {
 display:;
 visibility:visible;
}

.wrapper {
	min-height: 99.9%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}

#loadingDiv {
	position:absolute;
	width:100%;
	text-align:center;	
}

a { color: #3366CC; }
a:link { color: #3366CC; }
a:visited { color: #3366CC; }
a:hover {
    color: #339933;
    background: #eeeeee;
    text-decoration: underline overline;
}
a.noDecoration:hover { 
	color: #3366CC;
	background: #fcfcfc;
    text-decoration: none;
}
a.toggle:link, a.toggle:visited {
	text-decoration: none; 
}
a.toggle:hover {
	text-decoration: underline overline;
}

.whiteBgColor {
	background-color: white;
}

.txtWhite{
	color:#ffffff;
}
.txtWhiteBold{
	color:#ffffff;
	font-weight:bold;
}
.txtWhiteBold a{
	color:#ffffff;
	font-weight:bold;
}

.txtLightGreen {
    color:#006600;	
}

.txtGreen {
    color:green;
}

.label{
	font-weight:bold;
}

.list{
	margin:0px 0px 0px 2px;
	vertical-align:middle;
}

.padding3 td{
	padding: 3px;
}

.spacer1{
	margin:0px 0px 1px 0px;
}
.spacer2{
	margin:0px 0px 2px 0px;
}
.spacer3{
	margin:0px 0px 3px 0px;
}
.spacer5{
	margin:0px 0px 5px 0px;
}
.spacer10{
	margin:0px 0px 10px 0px;
}
.spacer15{
	margin:0px 0px 15px 0px;
}

html,body{
	height: 100%;
	width: 100%;
}
body{ 
	margin: 0; 
	padding: 0; 
	font-family:Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
	font-size:12px;
	color:#333333;
	background:url(/images/bg_Leftmenu.jpg) repeat-y;
}
div{
	font-size:12px;
}
pre{
	background: #EEEEEE; 
	font-family: Courier New, Verdana, Arial, Helvetica, Tahoma, Sans-Serif; 
	font-size: 11px; 
	border: 1px solid #a9a9a9; 
	margin: 5px; 
	padding: 5px;
}
hr {
	border: 0;
	height: 1px;
	color: #a9a9a9;
	background-color: #a9a9a9;
	margin: 1px 0 0 0;
}
input[type="text"], input[type="password"] {
	border: 1px solid #a9a9a9;
}
input[type="file"] {
	border: 1px solid #a9a9a9;
	width: 99%;
}
table {
	font-family:Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
	font-size:12px;	
}
textarea {
	border: 1px solid #a9a9a9;
}
th {
	background:#d6d6d6;
	font-weight:bold;
	text-align:center;
	padding:3px 5px 3px 5px; 
	border:1px solid #a9a9a9;
	margin:10px 0px 2px 0px;
}
thead{
	font-weight:bold;
	text-align:center;
}
select {
	font-family:Arial, Helvetica, Verdana, Tahoma, Sans-Serif;
	border: 1px solid #a9a9a9;

}
.largeInput {
	width: 400px;
}
.smallText {
	font-family: Arial, Helvetica, Verdana, Tahoma, Sans-Serif;
	font-size:11px;
}
img{
border:0px;
}
.formLabel{
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
	font-weight:bold;
	text-align:right;
}

.formLabelLeft{
	font-size:12px;
	font-family: Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
	font-weight:bold;
	text-align:left;
}

.formTxt{
	font-size:11px; 
	color:#333333; 
	font-family:Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
	font-weight: normal;
}
input.txtBox{
	width:240px;
}
input.credential{
	width:200px;
}

.border{
	border-collapse:collapse;
	border:1px solid #a9a9a9;
}

.border td{
	border-collapse:collapse;
	border:1px solid #a9a9a9;
}
fieldset.border {
	padding: 4px;
}

.cssText{
	font-family: Verdana, Arial, Helvetica, Tahoma, Sans-Serif; 
	font-size: 11px; 
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

/* --- More condensed styles ----- */
.detailForm .label {
    font-size:12px;
    font-family: Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
    text-align:left;
}

.inlinePopup {
	background: white;
}
.tableContent select {
	font-size: 12px;
}
.tableContent select[disabled] {
	font-size: 12px;
}
.tableContent input[type="button"], .tableContent input[type="submit"], .tableContent input[type="reset"] {
    font-size:11px;
	font-family:Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
	font-weight:bold;
	color:#FFEE99;
	background-color:#1166AA;
	border-color:#005599;
	margin:3px;
    cursor: pointer;
}
.tableContent input[type="button"]:hover, .tableContent input[type="submit"]:hover, .tableContent input[type="reset"]:hover {
	cursor:hand;
    color: #EEFFFF;
    backgroundColor: #2277CC;
}
.tableContent input[disabled][type="button"], .tableContent input[disabled][type="submit"], .tableContent input[disabled][type="reset"] {
	color:#FFFFEE;
	background-color:#777777;
	border-style:groove;
	border-color:#777777;
	cursor: auto;
}
.invalidValue {
	background-color: #FFEEEE;
}
/*-----------End of styles for General Content ----------------*/

/*----------------------CSS Button Styles -------------------------------*/
/*Credits: Dynamic Drive CSS Library */

.cssButton{
   font-size:11px;
   font-family:Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
   font-weight:bold;
   color:#FFEE99;
   background-color:#1166AA;
   border-color:#005599;
   margin:0px 5px 0px 5px;
}

.cssButton:hover{
   cursor:hand;
   background-color:#2080B0;
   color:white;
}

.cssButtonDisabled {
   font-size:11px;
   font-family:Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
   font-weight:bold;
   color:#FFFFEE;
   background-color:#777777;
   border-style:groove;
   border-color:#777777;
   margin:3px;
}
/*-------------------END of CSS Button Styles --------------------------*/

/*-----------Styles for header banner ----------------*/


#header{
	background:url(/images/banner_ext.gif) repeat-x;
	border-bottom:1px solid #ffffff;
}

#logoUSATech{
	position:relative;
	background:url(/images/usaTechLogo.gif) no-repeat;
	width:113px;
	height:62px;
	cursor:pointer;
}

#bannerTitle{
	position:absolute;
	left:100px;
	top:25px;
	color:#cccccc;
	font-weight:bold;
	font-size:13px;
}

#userInfo{
	position:relative;
	width:100%;
	height:20px;
	background-color: #c0c0c0;
	color:#505050;
	font-weight:bold;
	border-top:1px solid #ffffff;
	padding:0px;
	border-spacing:0px;
}

.userInfoLink{
	text-decoration:none;
}

/*-----------End of styles for header banner ----------------*/

/*-----------Styles for Content Layout ----------------*/
#mainContent{
	margin:0px;
	padding:0px;
}

#leftMenu{
	width:180px;
	height:100%;
}
#contentMiddle{
	margin: 0px 1px 0px 190px;
}
.push {
	height: 30px;
}

#footerContent{	
	background:url(/images/banner_ext.gif);
	height:30px;
	clear:both;
	text-align:center;
	font-size:11px;
	color:#ffffff; 
	line-height:30px;
	border-top:1px solid #ffffff;	
}
.pageTitle{
	font-size:13px;
	color:#43454d;
	font-weight:bold;
	text-align:center;
	postion:fixed;
}
#leftMenu #navigation { 
    position:relative;
	width: 180px; 
	font-weight:bold;
	z-index:100;
}

.menuTextbox {
	font-size:11px;
	border: 1px solid #a9a9a9;
	width:126px;
	margin-left:3px;
}
.menuSelect {
	font-size:11px;
	border:1px solid #a9a9a9;
	width:130px;
	margin-left:3px;
}

/*------------- Styles for Tabular Content ----------------------------*/

/*styles for formcontrols table layout */
.tableContainer{
	height:100%;
	border:1px solid #a9a9a9;
	padding:2px;
	background:#fcfcfc;
	z-index:-1;
}

.formContainer{ 
	width:760px;
	height:100%;
	border:1px solid #a9a9a9;
	padding:2px; 
	background:#fcfcfc;
	z-index:-1;
}

.largeFormContainer{ 
	width:1050px;
	height:100%;  
	border:1px solid #a9a9a9;
	padding:2px; 
	background:#fcfcfc;
	z-index:-1;
}

.fullPageFormContainer{ 
	width:99%;
	height:100%;  
	border:1px solid #a9a9a9;
	padding:2px; 
	background:#fcfcfc;
	z-index:-1;
}

.smallFormContainer{ 
	width:640px;
	height:100%;  
	border:1px solid #a9a9a9;
	padding:2px; 
	background:#fcfcfc;
	z-index:-1;
}

.fullPage {
	width: 100%;
}

.tableHead{
	position:relative; 
	top:-10px; 
	left:-7px; 
	background:url(/images/tabHead.gif) no-repeat; 
	width:557px; 
	height:29px;
	margin-bottom: -5px;
}
.tabHeadTxt{
	position:relative;
	top:7px;
	left:15px;
	color:#ffffff;
	font-weight:bold;
}
.tabFormControls{
	padding:0px; 
	border:0px;
	width:100%;
}
.tabFormControls td{
	padding:2px 2px 2px 2px; 
	border:0px;	
}
.tabFormControls td.label{
	width:15%;
}
.tabFormControls td.control{
	width:35%;
}
.tableContent{
	margin:0px 5px;
}
/*End of styles for formcontrols table layout */


/*styles for Data display table layout */
.tableDataContainer{
	height:100%;  
	border:1px solid #a9a9a9;
	padding:2px;
	background:#ffffff;
	margin:0px;
}
.tableDataHead{
	background:#437489;
	margin:1px 1px 3px 1px;
	position:relative;
	text-align:center;
	padding:5px 5px 5px 0;
}
.headerTab{
	background:#437489;
	margin:5px;
	position:relative;
	text-align:center;
	line-height:17px;
}
.tabDataHeadTxt{
	position:relative;
	left:10px;
	font-size:12px;
}
.tabDataHeadTxt .leftHeadTxt{
	float:left;	
}
.tabDataHeadTxt .rightHeadTxt{
	float:right;
	margin-right:20px;
}

.tabDataContent{
	margin:0px 5px;
}

.innerTable{
	width:100%;
	background:#fcfcfc;
	margin-top:1px;
	font-size:11px;	
}

.x-scrollable-auto{
	overflow-x: auto;
}

.tabHead{
	background:#d6d6d6;
	font-weight:bold;
	text-align:center;
	padding:3px 5px 3px 5px; 
	border:1px solid #a9a9a9;
	margin-bottom:2px;
}
.innerTable .tabData{
	margin:0px 5px;
}

.gridHeader {
	background:#d6d6d6;
	font-weight:bold;
	text-align:center;
	padding:3px 5px 3px 5px; 
	border:1px solid #a9a9a9;
	margin:5px 0px 2px 0px;
}

.sortHeader {
	background:#d6d6d6;
	font-weight:bold;
	text-align:center;
	padding:3px 5px 3px 5px; 
	border:1px solid #a9a9a9;
	margin:5px 0px 2px 0px;
	white-space:nowrap;
}

.sortHeader a {
	text-decoration: none;
}

.divider {
	background:#d6d6d6;
	height:1px;
}

.inactive {
	background:#f0f0f0;
}

.accent {
	background:#f0f0f0;
	font-weight:bold;
}

.noPadding {
	padding:0px !important;
}

.noSpacing {
	border-spacing:0px !important;
}

.nowrap {
	white-space:nowrap;
}

.tabDataDisplay{
	padding:2px;
	width:100%;
	border-collapse:collapse;
	border:1px solid #a9a9a9;
	margin-bottom:2px;
}

.tabDataDisplay td{
	padding:3px 5px 3px 5px;
	border:1px solid #a9a9a9;
	font-size:12px;
	border-collapse:collapse;
}

.tabDataDisplay td.label{
	font-size:12px;
	font-weight:bold;
}

.tabDataDisplay td.data{
	font-size:12px;
}
	
.tabDataDisplayBorder{
	padding:0px; 
	border:0px;
	width:100%;
	border-collapse:collapse;
}
.tabDataDisplayBorder td{
	padding:3px 5px 3px 5px;
	border:1px solid #a9a9a9 !important;
	font-size:12px;	
}

.tabDataDisplayBorderNoBottom{
	padding:0px; 
	border:0px;
	width:100%;
	border-collapse:collapse;
}
.tabDataDisplayBorderNoBottom td{
	padding:3px 5px 3px 5px;
	border-top:1px solid #a9a9a9 !important;
	border-left:1px solid #a9a9a9 !important;
	border-right:1px solid #a9a9a9 !important;
	border-bottom: 0px !important;
	font-size:12px;	
}

.tableBorder {
	background: #d6d6d6;
	border:1px solid #a9a9a9;	
}
	
.tabDataDisplayBorderNoFixedLayout{
	padding:0px; 
	border:0px;
	width:100%;
	border-collapse:collapse;
}
.tabDataDisplayBorderNoFixedLayout td{
	padding:3px 5px 3px 5px;
	border:1px solid #a9a9a9;
	font-size:12px;	
}
.tabDataDisplayBorderNoFixedLayout th{
	padding:3px 5px 3px 5px;
	border:1px solid #a9a9a9;
	font-size:12px;
}
.tabDataDisplayBorderNoPad{
	padding:0px; 
	border:0px;
	width:100%;
	border-collapse:collapse;
}
.tabDataDisplayBorderNoPad td{
	padding:0px 0px 0px 0px;
	border:1px solid #a9a9a9;
	font-size:12px;	
}

.tabNormal{
	padding:0px; 
	border:0px;
	border-collapse:collapse;
}

.tabNormal td{
	padding:3px 5px 3px 5px;
	border:1px solid #a9a9a9 !important;
	font-size:12px;	
}

.border {
	border: 1px solid #a9a9a9;
}

.border td {
	border: 1px solid #a9a9a9;
}

.noBorder{
	border:0px !important;
}

.noBorder td{
	border:0px !important;
}

.grid{
	padding:2px;
	width:100%;
	border-collapse:collapse;
	border:1px solid #a9a9a9;
	margin-bottom:2px;
}

.grid td{
	padding:3px 5px 3px 5px;
	border:1px solid #a9a9a9;
	font-size:12px;
	border-collapse:collapse;
}

.noGrid{
	border:0px !important;
	padding:0px;
}

.noGrid td{
	border:0px !important;
	padding:0px;
}


.tabDataDisplayNoBorder{
	padding:0px; 
	border:0px;
	width:100%;
	border-collapse:collapse;
}
.tabDataDisplayNoBorder td{
	padding:1px 1px 1px 1px;
	border:0px;
	font-size:12px;	
}
	
/* Option to set the tds of a tabDataDisplayBorder table to have an inner border  */
#tdBorder{
	padding:3px 5px 3px 5px;
	border:1px;
	font-size:12px;	
}

.tabDataDisplayHeaderNoBorder{ 
	padding:0px; 
	border:0px;
	width:100%;
	border-collapse:collapse;
}
.tabDataDisplayHeaderNoBorder td{
	padding:3px 5px 3px 5px;
	border:0px;
	font-size:12px;	
}

.tabDataDisplayAutoBorder {
	padding:0px; 
	border:0px;
	width:100%;
	border-collapse:collapse;
}
.tabDataDisplayAutoBorder td{
	padding:3px 5px 3px 5px;
	border:1px solid #a9a9a9;
	font-size:12px;	
}
	
.row0 {
 background-color:#EEEEEE;
}
.row1 {
 background-color:#FFFFFF;
}

td.header0 {
   background-color:#C0C0C0;
   text-align: center;
   font-weight: bold;
   padding: 2px 2px 2px 2px;
}
td.header1 {
   background-color:#d6d6d6;
   font-weight: bold;
   text-align: center;
}
td.leftHeader {
   background-color:#d6d6d6;
   font-weight: bold;
   text-align: left;
}
td.rightHeader {
   background-color:#d6d6d6;
   font-weight: bold;
   text-align: right;
}

/*styles for Data display table layout */

/*------------- End of Styles for Tabular Content ----------------------------*/

/* ######### CSS for Shade Tabs.  ######### */

.shadeTabs{
	padding: 3px 0;
	margin: 0px;
	font: bold 11px Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
	list-style-type: none;
	text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadeTabs li{
	display: inline;
	margin: 0;
}

.shadeTabs li a{
	text-decoration: none;
	position: relative;
	z-index: 1;
	padding: 3px 7px;
	margin-right: 3px;
	border: 1px solid #a9a9a9;
	color: #0a345d;
	background: white url(/images/shade.gif) top left repeat-x;
}

.shadeTabs li a:visited{
	color: #0a345d;
}

.shadeTabs li a:hover{
	text-decoration: none;
	color: #0a345d;
}

.shadeTabs li a.selected{ /*selected main tab style */
	position: relative;
	background-image: url(/images/shadeactive.gif);
	border-bottom-color: white;
}

.shadeTabs li a.selected:hover{ /*selected main tab style */
	text-decoration: none;
}

.tabContent{
	display:block !important;
}

/* -------------End of styles for shaded tabs------------------------- */

/* -------------Styles for messages------------------------------------*/

.err {
	color: red !important;
}

.msg {
	color: green;
}

.note {
	color: green;
	font-weight:bold;
	margin: 3px;
}

.message {
	border: 1px solid #FFCC00;
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: #F0F8FF;
	font-size: 12px;
}

.error {
	font-family: Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
	border-color: #FF0000;
	color: #FF0000;
}

.bold {
	font-weight:bold;
}

.center {
	text-align:center;
}

.warn {
	font-family: Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
	border-color: #FF8C00;
	color: #FF8C00;
}

.warn-solid {
	font-family: Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
	background-color: #dc7900;
	font-weight:bold;
	text-align:center;
	color: #FFFFFF;
}

.attention {
	background-color: #f0f066;
	color: #333333;
	font-weight: bold;
	padding: 3px;
}

.critical {
	color: red;
}

.info {
	font-family: Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
	border-color: #008000;
	color: #008000;
}

.info-solid {
	font-family: Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
	background-color: #006000;
	font-weight:bold;
	text-align:center;
	color: #FFFFFF;
}

.status-info {
	height: 16px;
	color: green;
	font-weight: bold;
}

.status-error {
	height: 16px;
	color: red;
	font-weight: bold;
}

.unsupported{
	color: red;
}

/* -------------End of Styles for messages-----------------------------*/

/* ------------- Start of Styles for tool-tips -----------------------------*/

.tool-tip {
	color: #000;
	width: 450px;
	z-index: 13000;
	
}
 
.tool-title {
	font-weight: bold;
	font-size: 11px;
	margin-top: -140px;
	margin-left: 0px;
	padding: 8px 8px 4px;
	background: #d6d6d6;
	border:1px solid #a9a9a9;
	
}
 
.tool-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: #f3f3f3;
	margin-top: 1px;
	margin-left: 0px;
	border:1px solid #a9a9a9;
}

/* ------------- Start of Styles fortooltips -----------------------------*/

/* -------------Start of Styles for menu-----------------------------*/
#main{
	width:500px; 
	margin:10px auto;
}

#accordion h3{	
	background:#d6d6d6;
	border-bottom:solid 2px #a9a9a9;
	font-size:12px;
	color:#a9a9a9;
	padding:4px;
}
	
#accordion li{
	border-bottom:solid 1px #DEDEDE;
}

#accordion li a{
	padding:3px 6px;
	display:block; 
	text-decoration:none;
}

#accordion li a:hover{
	background:#EFEFEF;
}
/* -------------End of Styles for menu-----------------------------*/

pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/*-------------------------------End of styles for Content Layout --------------------------------------------*/

.debug {
	border: 1px solid red !important;
}

.time {
	width: 32px;
}

.valueList {
	width: 240px;
}

.dataSearch {
	width: 120px;
}