BODY 				{ margin:0; font-size: 12pt; color: #000000; font-weight:normal;	font-family:'Courier New', monospace; }

TD					{ font-size: 12pt; color: #000000; font-weight:normal;	font-family:'Courier New', monospace; }
TH					{ font-size: 10pt; color: #000000; font-weight:bold;	font-family:'Courier New', monospace; }
SELECT				{ font-size: 10pt; color: #000000; font-weight:normal;	font-family:'Courier New', monospace; }
INPUT				{ font-size: 10pt; color: #000000; font-weight:normal;	font-family:'Courier New', monospace; }

A:link  			{ font-size: 12pt; text-decoration: none; color: #000000; }
A:visited			{ font-size: 12pt; text-decoration: none; color: #000000; }
A:hover				{ font-size: 12pt; text-decoration: none; color: #000000; }
A:active			{ font-size: 12pt; text-decoration: none; color: #000000; }

.head				{ font-size: 14pt; color: #000000; font-weight:bold;	font-family:'Courier New', monospace; }
.subhead			{ font-size: 12pt; color: #000000; font-weight:bold;	font-family:'Courier New', monospace; }
.error				{ font-size: 14pt; color: #FF0000; font-weight:bold;	font-family:'Courier New', monospace; }

.title TABLE		{ background-color:#FFFFFF; }
.title TD			{ background-color:#C0C0C0; padding:1px; font-size: 12pt; color: #000000; font-weight:bold; }

.menu TABLE			{ background-color:#FFFFFF; }
.menu TD			{ background-color:#C0C0C0; padding:1px; font-size: 12pt; color: #000000; font-weight:bold; }
.menu TD a:hover	{ background-color:#FFFFFF; width:100%; }

.list TD			{ font-size: 10pt; color: #000000; font-weight:normal; }
.list TD a:link  	{ font-size: 10pt; text-decoration: underline; color: #000000; }
.list TD a:visited	{ font-size: 10pt; text-decoration: underline; color: #000000; }
.list TD a:hover	{ font-size: 10pt; text-decoration: underline; color: #000000; background-color:#C0C0C0; }
.list TD a:active	{ font-size: 10pt; text-decoration: underline; color: #000000; }

