/* styles used by calendar.js */

.calendar-form {
	margin: 5px;
	text-align: center;
}

.calendar-form select {
	border-color: #7f9db9;
	vertical-align: center;
	margin: 0;
}

.calendar-form input.calendar-button {
	font-size: 8pt;
	font-weight: bold;
}

table.calendar-form td {
	align: center;
	white-space: nowrap;
}

.calendar {
	padding: 0px;
	background: #5f5f5f;
}

table.calendar {
	border: 2px solid #2f2f2f;
}

table.calendar th {
	padding: 0px;
	width: 20px;
	height: 20px;
	font-weight: bold;
	color: #0002bf;
	background: #dfe2ff;
	border: 1px solid #5f5f5f;
}

table.calendar td {
	padding: 0px;
	width: 20px;
	height: 20px;
	color: #1f46ff;
	background: #d3d3d3;
	cursor: pointer;
	text-align: center;
	border: 1px solid #5f5f5f;
}

table.calendar td:hover {
	background: #fffcdf;
	font-weight: bold;
}

table.calendar td.calendar-special {
	color: #bf0000;
	background: #9ffff4;
}

table.calendar td.calendar-special:hover {	background: #0ccfb9;
	font-weight: bold;
}

table.calendar td.calendar-nodate {
	background: #afafaf;
	font-weight: normal;
	cursor: default;
}