/* this only works (and only needs to work) with IE*/
/*img {behavior: expression(IE_checkImage(this));}
*/
.error {
	color: red;
}
.exception {
	color: red; font-family: Courier, monospace;
}
.errorLabel {
	font-weight: bold;
}
.title {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

table.folio {
	border-spacing: 0pt;
	border-collapse: collapse;
	font-size: 100%;
}

table.groupingoutput {
	border-spacing: 0pt;
	border-collapse: collapse;
	font-size: 100%;
}

.folio td {
	border: 1px solid #c7c7c7; /* something light gray */
	font-size: 100%;
	padding-left: 2px;
	padding-right: 2px;
}

.folio th {
	border: 1px solid #c7c7c7; /* something light gray */
	font-size: 100%;
	padding-left: 2px;
	padding-right: 2px;
}

.headerRow {
	background-color: #849DAA;
	text-align: center;
	color: #FFCC33;
}

.headerRow a {
	color: #FFCC33;
	cursor: pointer;
}

.headerRow a.hover,.headerRow th.sortASC a.hover,.headerRow th.sortDESC a.hover
	{
	color: #C00000;
}

/* NOTE: url() construct uses the location of the stylesheet as its base for relative urls!!!*/
.headerRow th.sortASC a {
	color: #336699;
	background: url(../images/sortAsc.png) no-repeat right;
	padding-right: 13px;
}

.headerRow th.sortDESC a {
	color: #336699;
	background: url(../images/sortDesc.png) no-repeat right;
	padding-right: 13px;
}

.heading {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #333399;
	color: white;
	padding: 2px 2px 2px 2px;
	font-weight: bold;
	width: 100%;
}

p.heading {
	margin-bottom: 4px;
}

.grouptitle {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: italic;
}

.nonAlignedSummary {
	font-style: italic;
	font-size: 100%;
}

:link, :visited {
	color: #336699;
	text-decoration: none;
	border-style: none
}

body {
	font-family: Arial, Helvetica, sans-serif;
/*	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px scrollbar-3d-light-color : #00FF00;
	scrollbar-arrow-color: #FFCC33;
	scrollbar-base-color: #7A5229;
	scrollbar-dark-shadow-color: #FF0000;
	scrollbar-face-color: #849DAA;
	scrollbar-highlight-color: #CCCCCC;
	scrollbar-shadow-color: #647883;
	overflow: auto;
*/	font-size: 9pt;
}

hr {
	color: #666666;
	border-style: solid
}

/*
 * Menus
 */
.menuLabel {
	padding-top: 6px;
	padding-left: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 70%;
}

.menuItemText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
}

.menuItem {
	padding-left: 18px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-color: #CCCCCC;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px
}

.title1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top: 0px;
	font-weight: bold;
	color: #849DAA; /*#996633;*/
	font-size: 140%;
}

.title2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #204020; /*#2C6D91;*/
	font-size: 130%;
	margin: 2px;
	margin-bottom: 4px;
}

.title3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #849DAA; /*#2C6D91;*/
	font-size: 120%;
	margin: 2px;
	margin-top: 0px;
}

.title4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #849DAA; /*#2C6D91;*/
	font-size: 110%;
	margin: 2px;
}

.codefrag {
	font-family: Courier New, Courier, monospace;
	font-size: 100%;
}

/*
 * shading effect on rows
 */
tr.oddRow {
	background-color: #C7FBA4
}

/* Custom stuff
 * 
 */
.section {
	/*position: relative;*/
	border: 1px solid #D0D0D0;
	width: 100%;
	padding: 2px;
	background-color: rgb(240,240,240);
	display: block;
	margin-top: 3px;
	margin-bottom: 3px;
}

form {
	margin: 0px;
}

#fieldSelects {
	width: 150px;
}

/* copied*/
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #336699;
	margin: 2px;
}

select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #336699;
	border: #000066;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	margin: 2px;
}

.groupHeaderRow0,.groupFooterRow0 {
	background-color: #E0E0E0;
	font-weight: bold;
	border-top: 2px solid #004000;
	border-bottom: 2px solid #004000;
	border-right: 2px solid #004000;
	border-left: 2px solid #004000;
	font-size: 100%;
}

.groupHeaderRow1 {
	background-color: transparent;
	font-weight: bold;
	border: none;
	color: #004000;
}
/* FOP only supports border-style of solid */
.groupHeaderRow1 .separator-pdf {
	border-top: 0.1mm solid #FFCC33; /*#E0E0E0;*/
	margin-top: 0.5mm;
	margin-bottom: 0.5mm;
	padding-top: 0.5mm;
	padding-bottom: 0.5mm;
}
.groupHeaderRow1 div.separator  {
	border-top: 1px dashed #C0C0C0; 
	width: 100%; 
	height: 0px; 
	line-height: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.groupHeaderRow1 td {
	background-color: transparent;
	font-weight: bold;
	border: none;
	color: #004000;
	font-size: 100%;
	padding-left: 0px;
}

.groupHeaderRow2 {
	background-color: transparent;
	font-weight: bold;
	border: none;
	color: #004000;
}

.groupHeaderRow2 td {
	background-color: transparent;
	font-weight: bold;
	border: none;
	color: #004000;
	font-size: 110%;
}

.groupHeaderRow3 {
	background-color: transparent;
	font-weight: bold;
	border: none;
	color: #004000;
}

.groupHeaderRow3 td {
	background-color: transparent;
	font-weight: bold;
	border: none;
	color: #004000;
	font-size: 120%;
}

.groupHeaderRow4 {
	background-color: transparent;
	font-weight: bold;
	border: none;
	color: #004000;
}

.groupHeaderRow4 td {
	background-color: transparent;
	font-weight: bold;
	border: none;
	color: #004000;
	font-size: 130%;
}

table.groupInfo {
	border-spacing: 0pt;
	border-collapse: collapse;
}
.groupInfo {
	width: 100%;
}
.groupInfo td {
	padding-top: 2px;
	border: none;
}
/*	border: 1px solid #C7C7C7; */
.groupLabel {
	margin-right: 10px;
	padding-right: 2px;
	position: relative;
}
.groupValue {
	color: black;
}
.groupFooterRow1 {
	background-color: transparent;
	font-weight: bold;
	color: #004000;
	border-top: 2px solid #C7C7C7;	
}

.groupFooterRow2 {
	background-color: transparent;
	font-weight: bold;
	color: #004000;
	border-top: 2px solid #C7C7C7;	
}

.groupFooterRow3 {
	background-color: transparent;
	font-weight: bold;
	color: #004000;
	border-top: 2px solid #C7C7C7;	
}

.groupFooterRow4 {
	background-color: transparent;
	font-weight: bold;
	color: #004000;
	border-top: 2px solid #C7C7C7;	
}

.groupSpacingRow0 {
	border: none;
}

.groupSpacingRow0 td {
	border: none;
}

.groupSpacingRow1 {
	border: none;
	line-height: 5px;
	height: 5px;
}

.groupSpacingRow1 td {
	border: none;
	line-height: 5px;
	height: 5px;
}

.groupSpacingRow2 {
	border: none;
	height: 20px;
}

.groupSpacingRow2 td {
	border: none;
	height: 20px;
}

.groupSpacingRow3 {
	border: none;
	height: 20px;
}

.groupSpacingRow3 td {
	border: none;
	height: 20px;
}

.groupSpacingRow4 {
	border: none;
	height: 20px;
}

.groupSpacingRow4 td {
	border: none;
	height: 20px;
}

.rowcount {
	margin-bottom: 5px;
	font-style: italic;
	font-size: 100%;
}

.output-type-menu {
	float: right; 
	border: 1px solid #C0C0C0; 
	background-color: #FFF0F0; 
	margin-bottom: -10px;
}
input.clearBorder {
	border: none;
	padding: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: -1px;
}

input.hoverBorder {
	border: 1px solid red;
	padding: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom: -1px;
}
.legend {
	width: 100%;
}
.notes {
	text-align: right;
	padding: 2px;
	margin: 2px;
}
.notes span {
	display: block;
	text-align: right;
	font-style: italic;
}
.icon-legends {
	padding: 2px;
	margin: 2px;
}
.icon-legend {
	margin-right: 5px;
}