.selectedRow {
	background-color: #D0D0FF;
}

.selectableList, .selectableList th, .selectableList td {
	border: 1px solid #C0C0C0;
}

body, table {
  font-size: 11px;
}
/*
.form-layout {
	font-size: 10px;
}
*/

.section {
	/*position: relative;*/
	width: 100%;
	padding: 2px;
	background-color: #E5E5E5;
	display: block;
	margin-top: 3px;
	margin-bottom: 3px;
}

.form-layout input {
	margin: 1px;
}

.unselectedPane, .selectedPane {
	position: relative;	
}
.unselectedPane {
	display: none;
}
.selectedPane {
	display: block;
}

.selectedTab, .unselectedTab {
  font-weight: bold;
  padding: 3px 5px 3px 5px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #336699;
  margin: 0 2px 0 0;
  text-decoration: none!important;  
}

.selectedTab {
	background: #E5E5E5;	
}

.unselectedTab {
    background: #BFBFBF;
}

.filterField {
	background-color: #D0D0D0;
	border: 1px solid #A0A0A0;
	font-style: italic;
}

#treeTop { margin: 0px; font-size: 120%; padding: 0px; }
.categoryNode { margin-left: 10px; margin-top: 2px; padding: 0px; }
li.closedNode a.label { background: no-repeat url(../images/nodeOff.png) center left; width: 10px; padding-left: 10px; }
.openNode a.label { background: no-repeat url(../images/nodeOn.png) center left; width: 10px; padding-left: 10px; }
.categoryNode li.closedNode div.treeDiv { display: none; }
li.openNode div.treeDiv { display: block; }
li.unchosenField, li.chosenField { background: no-repeat url(../images/nodeLeaf.png) center left; width: 10px; padding-left: 10px; margin-left: 5px; }
.chosenField { font-weight: bold; }
a.label { color: #336699; text-decoration: none; cursor: pointer; }
.closedNode, .openNode, li.unchosenField, li.chosenField { list-style-type: none; white-space: nowrap; }

#filterTable input { margin-left: 2px; margin-right: 2px; }

tr.paramSetRowHidden {
	display: none;
}

tr.paramSetRowShown {
	display: table-row;
}

#fieldSelects {
	width: 150px;
}
