<P><HR><P>
<SCRIPT language=javascript defer>
    function removeHeaders() {
        var elem = document.getElementById("contents");
        if(elem) {
	        if(document.layers) {
	            elem.left = 0;
	            elem.top = 0;
	        } else {
	            elem.className = "printContents";
	        }
        }
        elem = document.getElementById("banner");
        if(elem) hide(elem);
        elem = document.getElementById("menu");
        if(elem) hide(elem);
        elem = document.getElementById("printSaveForm");
        if(elem) hide(elem);
        elem = document.getElementById("backForm");
        if(elem) show(elem);
    }
    function printContents() {
        removeHeaders();
        window.print();
    }
    function saveContents() {
        window.document.execCommand("saveAs");
    }
    function restoreHeaders() {
        var elem = document.getElementById("contents");
        if(elem) {
	        if(document.layers) {
	            elem.left = 113;
	            elem.top = 62;
	        } else {
	            elem.className = "contents";
	        }
        }
        elem = document.getElementById("banner");
        if(elem) show(elem);
        elem = document.getElementById("menu");
        if(elem) show(elem);
        elem = document.getElementById("printSaveForm");
        if(elem) show(elem);
        elem = document.getElementById("backForm");
        if(elem) hide(elem);
        
    }
</SCRIPT>
<DIV id="printSaveForm" style="position: relative"><FORM>
<TABLE cellSpacing=0 cellPadding=0 width="300" border=0>
  <TR><TD width="50%"><INPUT type=BUTTON value=Print onclick="printContents()"></TD>
      <TD width="50%"><INPUT type=BUTTON value=Save onclick="saveContents()"></TD>
  </TR>
</TABLE></FORM></DIV><DIV id="backForm" style="position: relative; visibility: hidden" visibility="hide"><FORM><INPUT type=BUTTON value=Back onclick="restoreHeaders()"></FORM></DIV>