
.btn-signup-more {
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
  background-color: #457dbc;
  background-image: -moz-linear-gradient(top, #457dbc, #125ca8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#457dbc), to(#125ca8));
  background-image: -webkit-linear-gradient(top, #457dbc, #125ca8);
  background-image: -o-linear-gradient(top, #457dbc, #125ca8);
  background-image: linear-gradient(to bottom, #457dbc, #125ca8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#457dbc', endColorstr='#125ca8', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #125ca8;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
}


.btn-signup-more:hover,
.btn-signup-more:focus {
  color: #ffffff;
  text-decoration: none;
  background-position: 0 -50px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}


.btn-signup-more:hover,
.btn-signup-more:focus,
.btn-signup-more:active,
.btn-signup-more.active,
.btn-signup-more.disabled,
.btn-signup-more[disabled] {
  color: #ffffff;
  background-color: #125ca8;
  *background-color: #125ca8;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-signup-more:active,
.btn-signup-more.active {
background-color: #125ca8 \9;
}
.more-text {
  font-weight: 800;
  font-style: italic;
  font-family: 'Georgia', sans-serif;
  color: #125ca8;
  font-size: 105%
}
