/* Generic */
body, p, table, tr, td, a, input { 
	font-family: Verdana, Arial, Helvetica, Tahoma, Sans-Serif;
	font-size: 12px; 
	line-height: 16px; 
}

table {
	background-color: transparent;
}

.mywhitebgcolor {
	background-color: white;
}

/* Page titles, headings, and paragraphs */
h2, h3, h4               { color: #3333cc; background: #f0f0f0; }
h2                       { border-bottom: 2px solid #3333cc; }
h3                       { border-bottom: 1px solid #3333cc; }
h2                       { font-size: 24px; line-height: normal; }
h3                       { font-size: 18px; line-height: normal; }
h4                       { font-size: 16px; line-height: normal; }

/* Labels */
label                    { color: #003366; }

/* Horizontal rules */
hr { 
	width:100%; 
	border: 0 none; 
	background-color: #3333cc; 
	color: #3333cc; 
	text-align:center; 
	margin-top: 5px; 
	margin-bottom: 5px; 
}

/* Pre-formatted text blocks */
tt, pre                  { font-size: 11px; line-height: 13px; }
pre                      { background: #f0f0f0; border: 1px dotted #3333cc; padding: 3px; }

/* Hyperlinks */
a { color: #3333cc; }
a:link { color: #3333cc; }
a:visited { color: #3333cc; }
a:hover {
    color: #009900;
    background: #eee;
    text-decoration: underline overline;
}

/* Image */
img.inline               { border:1px solid #003366; padding: 3px; }
img.outlink              { margin: 2px; border: none; }

/* Tables of data */
td.headstyle {
 font-size: 10pt;
 text-align:center; 
 background-color:#C0C0C0;
}
td.row0 {
 font-size: 10pt;
 background-color:#EEEEEE;
}
td.row1 {
 font-size: 10pt;
 background-color:#FFFFFF;
}

