<!-- END CONTENT -->
<!-- BEGIN FOOTER -->

    </td>
   </tr>
   <tr>
    <th bgcolor="#FFFFFF" align="center" colspan="3">
     <font color="#000000">
     v2.0.21 - USA Technologies, Inc. - (C) Copyright 2003 - 2011 - Confidential
     </font>
    </th>
   </tr>
  </table>
  </center>
<script language="JavaScript">
document.getElementById("loading_div").innerHTML='';
</script>
 </body>
</html>

<!-- END FOOTER -->
