td.header0 {
   background-color:#C0C0C0;
   text-align: center;
   font-weight: bold;
   padding: 10px 10px 10px 10px;
}
td.header1 {
   background-color:#CCCCCC;
   font-weight: bold;
   text-align: center;
}
td.leftheader {
   background-color:#CCCCCC;
   font-weight: bold;
   text-align: left;
}
