/* Default Values */
body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: white;
	font-size: 11px;
	font-family: verdana,helvetica,arial,sans-serif;
	text-align: left;
	}

div {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Links */

a:link { color: #1541B0; text-decoration: none;}
a:visited { color: #3366ff; text-decoration: none; }
a:hover { color: #1541B0; text-decoration: none; }
a:active { color: #3399ff; text-decoration: none; }

/*  styles for the div that contains the top portion of the webpage */	
#header {
	background: #002CC0;
	height: 100px;
}

#navigation {
	text-align: left;
	height: 30px;
	color: #fff;
	background: #bccaf0;
}
		
#center {
	background-color: white;
	margin: 10px 10px 10px 10px;
	min-height: 500px;
	height: 500px;
}

#content {
	margin-left: 230px;
	padding: 0px 10px 0px 10px;
	background-color: white;
}
		
#menu {
	padding: 10px 30px 10px 30px;
	width: 225px;
	height: 100%;
	float: left;
	background: #E7ECFA;
	border: 1px dotted black;
	}
	
 #messages{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	}

#footer{
	clear: both;
	width: 100%;
	}

/* styles for the div that contains the userbar */
#userbar{
	height: 30px;
	color: white;
	background-color: #bccaf0;
}


/* styles for the div that contains the */


/* Styles */

.title {
		font-family: "Trebuchet MS", sans-serif;
		text-transform: uppercase;
		font-size: 1.4em;
		font-weight: bold;
		color: #666;
		letter-spacing: .2em;
		line-height: 1.0em;
		margin-bottom: 0.3em;
		}
		
.subtitle {
		font-family: verdana,helvetica,arial,sans-serif;
		font-size: 11px;
		font-weight: bold;
		color: #000;
		line-height: 1.0em;
		}

/*  styles for the dynamic back and forward links found in the header */
.userbar {
		font-family: verdana,helvetica,arial,sans-serif;
		font-size: 10px;
		font-weight: bold;
		text-align: right;
		padding: 0px 0px 0px 10px;
		}

/*  styles for the dynamic back and forward links found in the header */
.navigation_left {
	float: left;
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 1.7em;
	text-align: left;
	padding: 5px 10px 5px 10px;
	}

/* style for account link */
.navigation_right {
	float: right;
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 1.7em;
	text-align: right;
	padding: 5px 10px 5px 10px;
	}

/* style for success message */
.success {
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: green;
	line-height: 1.7em;
}

.error {
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: red;
	line-height: 1.7em;
	}

/* Form Fields */

/*  styles for the form entry input boxes */	
.input_style	{
		background-color: #fff;
		border: 1px solid #999999;
		color: #000000;
		font-family: verdana,trebuchet,sans-serif;
		font-size: 11px;
		line-height: 14px;
		padding: 1px 0px 2px 5px;
		margin: 0px 0px 5px 0px;
		}
		
.checkbox	{
		background-color: trasparent;
		color: #000000;
		}

/*  styles for a text area input in a form */
.textarea {
 		border: 1px solid #999999;
 		margin-bottom: 10px;
 		color: black;
 		font: 11px/16px verdana,trebuchet,sans-serif;
		}

/*  styles for a pulldown in a form */
.pulldown {
 		font-family: verdana,trebuchet,sans-serif;
 		font-size:	11px;
 		color:	#000000;
 		width : 155pt;
 		border: #999999 1px solid; 
 		margin: 0px 0px 5px 0px;
		}

/*  button with padding around the word - use this one most  */		
.button2	{
		font-family: verdana, helvetica, arial, sans-serif;
		font-size: 10px;
		background-color:#4E6CC3;
		color:#fff;
		font-weight: bold;
		padding: 0px 1px 1px 1px;
		margin: 0px;
		border-top: outset 2px #6589EE;
		border-bottom: outset 2px #069;
		border-right: outset 2px #069;
		border-left: outset 2px #6589EE;
		}

/*  styles for log out from esuds button  */	
.user_button	{
		float: right;
		height: 25px;
		font-family: verdana, helvetica, arial, sans-serif;
		font-size: 12px;
		font-weight: bold;
		color:#fff;
		padding: 5px 5px 5px 5px;
		margin: 0px;
		border-top: buttonface 2px #990000;
		border-bottom: buttonface 2px #990000;
		border-right: buttonface 2px #990000;
		border-left: buttonface 2px #990000;
		}

/* Report */
		
/*  styles for reporting table */
		
.report {
		border: 5px solid white;
		width: 575px;
		padding: 0px;
		margin: 15px 0px 0px 0px;
		font-size: 11px;
		}

.report th	{
		background: #bccaf0;
		}
	
.report td	{
		text-align: center;
		}
	
.report tr.odd	{
		background: #E7E7E7;
		}
	
.report tr.even {
		background: #ffffff;
		}
	
.report tr.footer {
		background: #bccaf0;
		height: 1px;
		}

/* styles for roomstatus */
		
.room_status {
		border: 5px solid white;
		width: 450px;
		padding: 0px;
		margin: 15px 0px 0px 0px;
		font-size: 11px;
		}

.room_status th	{
		background: #bccaf0;
		}
	
.room_status td	{
		text-align: center;
		}
	
.room_status tr.odd	{
		background: #E7E7E7;
		}
	
.room_status tr.even {
		background: #ffffff;
		}
	
.room_status tr.footer {
		background: #bccaf0;
		height: 1px;
		}

/* Form */
		
/*  styles for form table */
		
.form {
		padding: 2px;
		font-size: 11px;
}

.form tr {
	vertical-align: top;
	padding: 2px;
	
}
	
.form td.label {
		font-family: verdana,trebuchet,sans-serif;
		font-size: 14px;
		text-align: right;
	}

.form td.field {
		text-align: left;
	}
	
.form tr.footer {
		background: #bccaf0;
		height: 1px;
		}
		

/* Laundry Links */

/* styles for the onlink laundry links and the return to search page link */

.dormlinks  {
		color: #1541B0; 
		text-decoration: underline;
		vertical-align: 25%;
		text-indent: 10 px;
		z-index: 1;
		}

.hoverdormlinks  {
		background-color: #fff;
		vertical-align: 25%;
		text-indent: 20 px;
		}

.laundrylinks  {
		color: #1541B0; 
		text-decoration: underline;
		vertical-align: 25%;
		text-indent: 20 px;
		}
		
.hoverlaundrylinks  {
		background-color: #fff;
		vertical-align: 25%;
		text-indent: 20 px;
		}


.input th {
		font-family: verdana,helvetica,arial,sans-serif;
		font-size: 11px;
		font-weight: bold;
		color: #000;
		line-height: 1.0em;
		text-align: left;
		}
		
.input td {
		font-family: verdana,helvetica,arial,sans-serif;
		font-size: 11px;
		font-weight: normal;
		color: #000;
		line-height: 1.0em;
		}