/* Default Values */
body {
	margin: 0;
	padding: 0;
	font-family: verdana,helvetica,arial,sans-serif;
	background-color: #fff;
	font: x-small/1.5em "lucida grande", Verdana, Arial, Sans-serif, Geneva, Arial, Helvetica, sans-serif;
	color:#333;
	font-size/* */:/**/small;
	font-size: /**/small;
	}

body.menuLayout {
	background: #fff url("../images/center_tile.gif") repeat-y top left;
}

/* Links */

a:link { color: #093771; text-decoration: none;}
a:visited { color: #093771; text-decoration: none; }
a:hover { color: #1541B0; text-decoration: underline; }
a:active { color: #093771; text-decoration: none; }

/*  styles for the div that contains the top portion of the webpage */

#userbar{
	color: white;
	background-color: #609fed;
	border-bottom: solid 1px #235EA3;
	voice-family: "\"}\"";
  	voice-family: inherit;
  	height: 22px;
}

#header {
	background: url("../images/header_tileY.gif") repeat-x top left;
	background-color: #FEDD82;
	height: 103px;
	padding: 0px;
	margin: 0px;
	border: solid 0px red;
	position: relative;
}

.logo {
	position: absolute; /* This makes FireFox look like IE */
	height: 103px;
	width: 560px;
	voice-family: "\"}\"";
  	voice-family: inherit;
  	margin-bottom: -3px;
	border: solid 0px green;
}

#navigation {
	clear: both;
	text-align: left;
	border-top: solid 1px #235EA3;
	border-bottom: solid 1px #333;
	padding: 0px;
	margin: 0px;
	background-color: #609fed;
	voice-family: "\"}\"";
  	voice-family: inherit;
  	height: 22px;
}

#center {
	clear: both;
	background: transparent;
	margin: 0;
	padding: 0;
	border: solid 0px red;
	/*width:770px;*/
	}

#menu {
	float: left;
	background: #FEDD82;
	margin: 0;
	padding: 15px;
	text-align: left;
	border: solid 0px green;
	width: 235px;
	voice-family: "\"}\"";
  	voice-family: inherit;
  	width: 205px;
  	height: 100%;
	}

html>body #menu {
  	width: 205px;
	}

#content {
	margin-left: 250px;
	padding: 15px 0;
	background-color: white;
	border: solid 0px red;
	}

#content p {
	width: 480px;
	}

#content table {
	position: static !important;  /* on pages position is erroneously set to absolute, this overrides that bad decision  */
	}

#content form {
	border: solid 0px red;
	}

#content_only {
	/*margin-left: 250px;*/
	padding: 15px;
	background-color: white;
	border: solid 0px red;
	}

#messages {
	background-color: white;
	margin: auto;
	}

#footer {
	display: none;
	clear: both;
	width:100%;
	background: transparent;
	border: solid 0px #609fed;
	color: #333;
	font-weight: bold;
	}

#footer hr { display: none; }

#footer p {
	margin-left: 250px;
	text-align: left !important;
	}



/* Styles */

.title {
		text-transform: uppercase;
		font-size: 115%;
		font-weight: bold;
		color: #333;
		letter-spacing: .2em;
		}

.subtitle {
		font-size: 100%;
		font-weight: bold;
		color: #333;
		line-height: 1.0em;
		}

.report_caption {
		font-size: 100%;
		font-weight: bold;
		color: #333;
		line-height: 1.0em;
		}
/*  styles for the dynamic back and forward links found in the header */
.userbar {
		font-size: 14px;
		font-weight: bold;
		text-align: right;
		padding: 0px 0px 0px 10px;
		}

/*  styles for the dynamic back and forward links found in the header */
.navigation_left {
	float: left;
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding: 0px 0px 0px 10px;
	}

.navigation_left select {
	background-color: #609fed;
	color: #093771;
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
}

/* style for account link */
.navigation_right {
	float: right;
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding: 0px 10px 0px 0px;
	}

/* style for success message */
.success {
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: green;
	line-height: 1.7em;
}

.error {
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: red;
	line-height: 1.7em;
	}

/* Form Fields */

/*  styles for the form entry input boxes */
.input_style	{
		background-color: #fff;
		border: 1px solid #999999;
		color: #000000;
		font-family: verdana,trebuchet,sans-serif;
		font-size: 11px;
		line-height: 14px;
		padding: 1px 0px 2px 5px;
		margin: 0px 0px 5px 0px;
		}

.checkbox	{
		background-color: transparent;
		color: #000000;
		}

/*  styles for a text area input in a form */
.textarea {
 		border: 1px solid #999999;
 		margin-bottom: 10px;
 		color: black;
 		font: 11px/16px verdana,trebuchet,sans-serif;
		}

/*  styles for a pulldown in a form */
.pulldown {
 		font-family: verdana,trebuchet,sans-serif;
 		font-size:	11px;
 		color:	#000000;
 		width : 155pt;
 		border: #999999 1px solid;
 		margin: 0px 0px 5px 0px;
		}

/*  button with padding around the word - use this one most  */
.button2	{
		font-family: verdana, helvetica, arial, sans-serif;
		font-size: 10px;
		background-color:#4E6CC3;
		color:#fff;
		font-weight: bold;
		padding: 0px 1px 1px 1px;
		margin: 0px;
		border-top: outset 2px #6589EE;
		border-bottom: outset 2px #069;
		border-right: outset 2px #069;
		border-left: outset 2px #6589EE;
		}

/*  styles for log out from esuds button  */
.user_button	{
		float: right;
		font-family: verdana, helvetica, arial, sans-serif;
		font-size: 11px;
		font-weight: bold;
		text-align: left;
		padding: 0px 10px 0px 0px;
		}

/* Report */

/*  styles for reporting table */

.report {
		border: 2px solid white;
		padding: 0px;
		margin: 0px 0px 0px 0px;
		font-size: 11px;
		line-height: 15px;
		}

.report th	{
		background: #b8d6fa; padding-left: 3px; padding-right: 3px; padding-top: 1px; padding-bottom: 1px;
		}

.report td	{
		text-align: center; padding-left: 2px; padding-right: 2px; padding-top: 1px; padding-bottom: 1px;
		}

.report tr.odd, .report tr.oddCaveat {
		background: #E7E7E7;
		}

.report tr.even, .report tr.evenCaveat {
		background: #ffffff;
		}

.report tr.footer {
		background: #b8d6fa;
		height: 1px;
		line-height: 0px;
		padding: 0px;
}

.report tr.evenCaveat, .report tr.oddCaveat {
	color: #800000;
	font-style: italic;
	}

.report pre {
	font-family: Verdana, Arial, Sans-serif;
	margin: 0px;
	}
/* styles for roomstatus */

.room_status {
		border: 5px solid white;
		width: 450px;
		padding: 0px;
		margin: 15px 0px 0px 0px;
		font-size: 11px;
		}

.room_status th	{
		background: #b8d6fa;
		}

.room_status td	{
		text-align: center;
		}

.room_status tr.odd	{
		background: #E7E7E7;
		}

.room_status tr.even {
		background: #ffffff;
		}

.room_status tr.footer {
		background: #b8d6fa;
		height: 1px;
		line-height: 0px;
		padding: 0px;
}

/* Form */
form {
	margin: 0px; display: inline;
}

/*  styles for form table */

.form {
		padding: 2px;
		font-size: 11px;
}

.form tr {
	vertical-align: top;
	padding: 2px;

}

.form td.label {
		font-size: 100%;
		font-weight: bold;
		text-align: right;
	}

.form td.field {
		text-align: left;
	}

.form tr.footer {
		background: #b8d6fa;
		height: 1px;
		line-height: 0px;
		padding: 0px;
}


/* Laundry Links */

/* styles for the onlink laundry links and the return to search page link */

.dormlinks  {
		color: #1541B0;
		text-decoration: underline;
		vertical-align: 25%;
		text-indent: 10px;
		z-index: 1;
		line-height: 25px;
		}

.hoverdormlinks  {
		background-color: #fff;
		vertical-align: 25%;
		text-indent: 20px;
		line-height: 25px;
}

.laundrylinks  {
		color: #1541B0;
		text-decoration: underline;
		vertical-align: 25%;
		text-indent: 20px;
		}

.hoverlaundrylinks  {
		background-color: #fff;
		vertical-align: 25%;
		text-indent: 20px;
		}


.input th {
		font-family: verdana,helvetica,arial,sans-serif;
		font-size: 11px;
		font-weight: bold;
		color: #000;
		line-height: 1.0em;
		text-align: left;
		}

.input td {
		font-family: verdana,helvetica,arial,sans-serif;
		font-size: 11px;
		font-weight: normal;
		color: #000;
		line-height: 1.0em;
		}
.refreshNote {
	font-size: 9px;
	font-weight: normal;
	font-style: italic;
}
.dot {
	font-size: 9px;
	width: 5px;
	height: 15px;
	font-weight: bold;
}
.required {
	color: red;
	font-style: italic;
}
.note1 {
	color: #606060;
	font-style: italic;
}
p.note1, p.required {
	margin: 0px; font-size: 11px; line-height: 12px;
}
.note2 {
	color: #606060;
	font-style: italic;
}
.instructions ul {
	font-size: 10px;
}
.instructions li {
	margin-bottom: 7px; line-height: 17px;
}
.instructions li ul li {
	line-height: 10px; margin-bottom: 0px;
}
.instructions .button2 {
	margin-top: 3px;
}
.filelinks {
	font-weight: bold;
}

hr.separator {
	background-color: #235EA3;
	color: #235EA3;
}

.question {
	font-weight: bold; margin-bottom: 0px; display: block;
}
.answer {
	margin: 0px;
}
.answer ul, .answer ol {
	margin-top: 0px;
	margin-bottom: 0px;
}
.header_left {
	float: left;
}
.header_right {
	float: right;
	text-align: center;
	padding-right: 3px;
}
.lineItem {
	position: relative;
	float: left;
	text-align: center;
	width:100%;
}
.criterion {
	border: 2px solid #E7E7E7;
	padding: 2px;
	margin-bottom: 10px;
}
.delay-note {
	font-style: italic;
	color: #A0A0A0;
}
#refreshTime {
	color: #606060;
	text-align: center;
	width: 100%;
	font-size: 9px;
}
.contactInfo {
	font-size: 9px; font-style: italic; border-top: 1px solid #E0E0E0;
}
.notifiedInstructs {
	font-size: 10px;
}
.header_right .layout {
	height: 103px;
}
.customRoomStatusLink {
	font-family: verdana,helvetica,arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.header_right .first td {
	vertical-align: bottom;
}
.header_right .second td {
	vertical-align: center;
}
.header_right .customRoomStatusLink td {
	vertical-align: bottom;
}