.title2 {
	text-transform: uppercase;
	font-size: 115%;
	font-weight: bold;
	color: #333;
	letter-spacing: .2em;
	font-style: normal;
}

.title3 {
	font-size: 100%;
	font-weight: bold;
	color: #333;
	line-height: 1.0em;
}