<!-- END CONTENT -->     
<!-- BEGIN FOOTER -->

    </td>
   </tr>
   <tr>
    <th bgcolor="#000000" align="center" colspan="3">
     <font color="#FFFFFF">
     USA Technologies, Inc. - (C) Copyright 2003 - 2006 - Confidential
     </font>
    </th>
   </tr>
  </table>
  </center>
 </body>
</html>

<!-- END FOOTER -->
