@import url("css_filter_test_2.css");
div {
	border: 1px solid black;
	margin: 1px;
	background-color: white;	
}
.d1 {
	background-color: red;
	width: 100px;
}

.d1 + div {
	background-color: blue;
	width: 100px;
}
.d1 + div > div {
	color: red;
}
.d5 > div {
	background-color: purple;
	width: 40px;		
}

.d5 div {
	border: 3px solid green;
}
.d5 + div {
	background-color: #E0D080;
}