
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	}

body {
	font:400 16px/1.625 "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #f6f6f6;
	}

a {
  color: #0088cc;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

.wrapper {
    max-width:640px;   /*  changed the width to 640px */
    width:95%;
    margin:0 auto 25px;
    margin-top: 50px;
    position:relative;
    background-color: #ffffff;
    }

.wrapper img {   /*  new style  */
    width: 100%;
    max-width: 640px;
}

.presale-text, .postsale-text {
    background-color: #ffffff;
    padding: 0px 40px 0px;
    text-align: center;
    font-weight: 300;
    }

.presale-text p, .postsale-text p {
    font-size: 24px;
    line-height: 1.4em;
    }

.sale-text {
    background-color: #f4f4f4;
    margin: 20px 5%;
    padding: 20px;
    }

.sale-text h2, #main h2 {
    padding: 0;
    margin: 15px 0 0;
    line-height: 1em;
    }

.sale-text p {
    font-size: 20px;
    line-height: 1.4em;
    }

.info-text {
    background-color: #ffffff;
    margin: 20px 5%;
    }


#main {
    background: #ffffff;
    }

#main h2 {
    padding: 20px 5% 10px;
    line-height: 1em;
    }

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea,
#contact-form button[type="submit"] {
    font:400 16px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contact-form {
    text-shadow:0 1px 0 #ffffff;
    background:#ffffff;
                padding: 0 5% 45px;
}

#contact-form span {
    cursor:pointer;
    color:#222222;
    display:block;
    margin:5px 0;
    font-weight:700;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #ccc;
	background:#fff;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #aaa;
}

#contact-form fieldset {
                margin: 25px 0;
                padding: 10px 3%;
                background-color: #f4f4f4;
}

#contact-form button[type="submit"] {
	cursor:pointer;
	width:40%;   /* changed width  */
	border:none;
	background:#009deb;
	color:#ffffff;
	font-weight: 700;
	margin:30px 30% 0;
	padding:1.2em 1em;    /* changed padding  */
	border-radius:5px;
}
#contact-form button[type="submit"]:hover {
    background: #02aafd;
    -webkit-transition:background 0.2s ease-in-out;
    -moz-transition:background 0.2s ease-in-out;
    transition:background-color 0.2s ease-in-out;
}
#contact-form button[type="submit"]:active {
	box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
#contact-form input:focus,
#contact-form textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}


#contact-form fieldset.order-total span {
    cursor:pointer;
    color:#222222;
    display:block;
    margin:0;   /* changed margin to 0*/
    font-weight:700;
    line-height: 1;   /* added lineheight value */
}

/* new style */
#contact-form fieldset.order-total span.fineprint {
    font-size: .8em;
    font-weight: normal !important;
    line-height: 1.3;
    margin-top: 5px;
}

/*  new style  */
#eport-section1, #eport-section2 {
    margin-top: 0;
    margin-bottom: 2em;
    margin: -.8em 0 2em .8em;
}

/*  new style  */
#eport-section1 div, #eport-section2 div {
    margin-top: .8em;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
