.menuPage { background-color: #2141AF; }
.menuTable th { background: #C9CCFF;}
.menuTable a { color: white; }
.menuTable a:hover { color: #C00000; background: transparent; }
.menuImage {  padding-right: 0px; margin-top: 0px;}
.menuTable th { border: 1px solid #C00000;}
.menuTable td img { margin-bottom: 1px; }
/*.menuTable td {font-weight: bold; }*/
.menuExtra {
	background-image: url("../images/sony/sony_picture_station_small.jpg");
	background-position: bottom center;
	background-repeat: no-repeat;
	height: 200px;
}