input[type=button], input[type=submit], input[type=reset] {
	*overflow: visible;
	*width: auto;
	*white-space: nowrap;
}
/* From https://github.com/necolas/normalize.css/blob/master/normalize.css:
 * Corrects alignment displayed oddly in IE6/7
 */
legend {
    *margin-left: -7px;
}