/*  verizon red #800
	susies green #70a870
	*/
body, button, table, input, select, textarea {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11pt;
}

a { color: #06c; }
a:visited { color: #06c; }
a:hover { color: #06c; }

a:link{color:#06c;text-decoration:none;}
a:hover{text-decoration:underline;}
a:visited{color:#06c;text-decoration:none;}

#report-request-group {
	margin-right: 30px;
	text-align: center;
}
	
#report-request-group legend {
	text-transform: uppercase;
	font-weight: bold;
}
#report-requests {
	margin-top: -5px;
}
/*#report-requests a:link {color:#eee;text-decoration:none;}
#report-requests a:hover{color: #fff; text-decoration:underline;}
*/	
#menu, #msg {
	background-color: #f7f7f7;
}
#msg {
	border: none;
}
.menuTable {
	margin-top: 15px;
}
	
.menuTable th, .myStats th.header, .sectionTitle, .userReportContainer .itemMasterTitle, .userReportContainer .itemLabel { 
	background: #ccc;
    font-weight: bold; 
    color: #000;
}

.menuTable a { 
	text-decoration: none; 
	color: #212121;
}

.menuTable a:hover { 
	text-decoration: none; 
	color: #06c;
	background-color: #fff;
}

.myStats {
	border: 1px solid #ccc;
	font-size: .95em;
}
.myStats td {
	padding: 5px;
	text-align: right;
	border: 1px solid #ccc;
	font-weight: normal;
}
.myStats th {
    padding: 5px;
    text-align: left;
    border: 1px solid #ccc;
    width: 300px;
}
.myStats th.header {
    padding-right: 0px;
    text-align: center;
    background: #70a870;
    color: #fff;
}
.myStats a {
	font-weight: normal;
}

.tableHeader th, .tableHeader td {
    background-color: #70a870;
    border: 1px solid #ccc;
    color: #fff;
}
.headerRow {
	background-color: #70a870;
}
/*
.headerRow a:hover, .headerRow a.hover, .headerRow th.sortASC a.hover, .headerRow th.sortDESC a.hover {
    color:  #F0E7D4;
*/

tr.oddRow, tr.oddRowLink, tr.oddRowHover, .selectSection, .userReportContainer #itemDetail, .userReportContainer #itemMaster {
    background-color: #e7e7e7;
}

.selectSection {
	background-color: #f7f7f7;
}

.copyright, .folio-line {
	border-color: #f7f7f7;
}
#banner-title {
	background: transparent;
    margin: 1px auto;
    text-align: center;
    width: 500px;
    font-size: 1.375em;
}

.homepage hr {
	display: none;
}

#content {
	padding-left: 20px;
}
	
button, input, select, textarea { 
	font-size: .95em;
    vertical-align: baseline;
    *vertical-align: middle;
}

.selectedMenuItem {
	border-color: #70a870;
}

.welcome {
	color: #70a870;
	font-style: normal;
	font-family: inherit;
	line-height: 1.375em;
	font-size: 1.375em;
}
	
#msg {
	background: #fff url(../images/susies_lemonade.jpg) no-repeat;
	width: 650px;
	height: 330px;
	margin: 10px 0 0 0;
	padding: 0;
}
	
/* Taken From verizon version of usalive-app-style.css */
input, select {
    color: #444;
}

#banner {
    background: #800 url(../images/verizonbanner.gif) no-repeat;
}

#banner-logo { 
	display: none; 
}
#footer {
	background: #880000;
}
.dialogCaption {
    font-size: .6875em;
    font-family: Arial, Helvetica, sans-serif;
}
.confirmText {
    color: #666;
}
table.selectBody td, table.selectBody th {
    padding: 5px;
}
.sectionRow th {
    padding: 5px;
}
.required {
    color: #800;
}
.required-activate {
    color: #70a870;
}
.required-change {
    color: #800;
}
.input-rows td,.input-rows th {
    border-bottom: 1px solid #ccc;
}
.menuTable th,.menuTable td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .975em;
}
.requirementNote {
    color: #70a870;
    font-style: normal;
}
table.folio {
    padding: 3px;
}
.headerRow th {
    padding: 3px;
}
.folio a:link, .folio a:visited, tr.oddRowLink, tr.evenRowLink, tr.totalRowLink {
    color: #06c;
}
.folio a:hover, tr.oddRowHover a:link, tr.evenRowHover a:link, tr.totalRowHover a:link, tr.oddRowHover a:visited, tr.evenRowHover a:visited, tr.totalRowHover a:visited {
    color: #06c;
}
.title2 { /* folio title */
    color: #666;
    margin: 5px 2px 2px 0px;
}
.title3 { /* folio sub-title */
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
}
tr.oddRow, tr.oddRowLink, tr.oddRowHover { /* shading effect on rows */
    background-color: #ccc;
}
tr.oddRow td, tr.evenRow td, tr.oddRowLink td, tr.evenRowLink td, tr.oddRowHover td, tr.evenRowHover td {
    padding: 5px;
}
.builderTabs #dValuesEXT, .builderTabs #section, .builderTabs #dValues { 
	border: 2px solid #70a870;
}
.contactInfo { 
	border: none;
    padding: 5px;
}
.contactInfo hr { 
    color: #ccc;
}
.loginChoiceOr div {
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}
#date-range-selection-target {
    width: 100%;
}
.tabnav span {
	font-size: 0.9em;
}
.tabnav a:link, .tabnav a:visited {
	color: #765;
}

