BODY
{ 
	background-color:white; 
	font-size:10pt;
	font-weight:bold; 
	font-family:'Courier New', monospace; 
}

TABLE
{
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
	background-color: white;
}

TH 
{
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: black;
	background-color: white;
	font-size:10pt;
	font-weight:bold; 
	font-family:'Courier New', monospace; 
	text-align:center;
}

TD
{
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: black;
	background-color: white;
	font-size:10pt;
	font-weight:normal; 
	font-family:'Courier New', monospace; 
	text-align:left;
}

textarea {
	border: 1px solid #a9a9a9;
	text-align:left;
}

.td_center
{
	border-width: 1px;
	padding: 2px;
	border-style: inset;
	border-color: black;
	background-color: white;
	font-size:10pt;
	font-weight:normal; 
	font-family:'Courier New', monospace; 
	text-align:center;
}

A
{
	font-size:10pt;
	font-weight:normal; 
	font-family:'Courier New', monospace; 
}

.button
{ 
	background-color:#CCCCCC; 
	font-size:10pt; 
	color:#000000; 
	font-weight:normal; 
	font-family:'Courier New', monospace; 
	text-align:center; 
}

INPUT
{ 
	font-size:10pt; 
	color:#000000; 
	font-weight:normal; 
	font-family:'Courier New', monospace; 
}

.headbig
{ 
	background-color:white; 
	font-size:12pt;
	font-weight:bold; 
	font-family:'Courier New', monospace; 
}

.success
{ 
	background-color:#66FF00; 
	font-size:10pt;
	color:#000000;
	font-weight:bold; 
	font-family:'Courier New', monospace; 
}

.failure
{ 
	background-color:#FF0066; 
	font-size:10pt;
	color:#000000;
	font-weight:bold; 
	font-family:'Courier New', monospace; 
}


.inactive_status
{ 
	background-color:#FFFFFF; 
	font-size:10pt;
	color:#000000;
	font-weight:bold; 
	font-family:'Courier New', monospace; 
}

.active_status
{ 
	background-color:#eeee00; 
	font-size:10pt;
	color:#000000;
	font-weight:bold; 
	font-family:'Courier New', monospace; 
}

.active_initialized_status
{ 
	background-color:#66FF00; 
	font-size:10pt;
	color:#000000;
	font-weight:bold; 
	font-family:'Courier New', monospace; 
}
.ie-warning {
	background-color: #BBEE88;
	border: 3px solid #DDCC44;
	font-style: italic;
	font-size: 14pt;
	width: 750px;
}
.instructions {
	font-style: italic;
    width: 750px;
}
.hidden {
	display: none;
}