/* Put all generic definitions here. */

body {
    margin: 0px;
    padding: 0px;
    color: #333333;
    background: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

select {
    color: #333333;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

input {
    color: #333333;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

.container {
    padding: 2px;
    border: 1px solid #999999;
    background: #eeeeee;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}

.leftmenu {
    padding: 2px;
    border: 1px solid #999999;
    width: 200px;
    background: #ffffff;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

.maincontent {
    padding: 2px;
    border: 1px solid #999999;
    width: 650px;
    background: #ffffff;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

.invisible {
    border: 0px solid #999999;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

a {
    color: #f93f93;
    font-weight: bold;
}

a:link {
    color: red;
}

a:visited {
    color: #cc0000;
}

a:hover {
    color: green;
    background: #eeeeee;
    text-decoration: underline overline;
}

hr {
    background: silver;
    border: 0;
    height: 1px;
    margin-top: 5px
}

.big_title { 
	font-size: 22px;
    font-weight: bold;
}

.error { 
	font-size: 18px;
    font-weight: bold;
    color: red;
}